target/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
conf.d/*
mysql/*
.DS_Store
*.terraform*
terraform.tfstate.*
terraform.tfstate
.DS_Store
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.d
*.tfstate.backup
*.info
*.pem
